/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
body{
    text-align: center !important;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}
p{
	font-size: 18px;
}
input{
	text-align: center;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}
#two{
    border: 2px solid white;
    margin-top: 10%;
    background-color:cornsilk;
    float: left;
    margin-left: 5%;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.hei{
    height: 100px;
    text-align: center;
    width: 88%;
}

#oo{
    width: 100%!important;
}

#oop{
    display: flex!important;
}